@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

body{
    max-width: 1200px;
    margin:0 auto
}

/* For WebKit browsers */
::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
  
  /* Ensure scroll functionality remains */
  html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .active{
    text-decoration: underline;
    
  }